
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding-top: 2rem;
    font-size: 1.5rem;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-game, #new-card {
    color: #016f32;
    width: 250px;
    background: goldenrod;
    font-weight: bold;
    padding: 3px 10px;
    font-size: 1.8rem;
    border-radius: 5px;
    margin: 5px;
}

.start-game:hover, .new-card:hover, .new-card:focus {
    background-color: yellow;           
}